# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files 
.env
server/.env
client/.env

# Build
client/dist/
dist/

# Uploads
server/uploads/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db